spring:
  task:
    scheduling:
      pool:
        size: 10
  jpa:
    properties:
      hibernate:
        format_sql: 'TRUE'
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: 'false'
  sql:
    init:
      mode: never
  mvc:
    hiddenmethod:
      filter:
        enabled: 'true'
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
logging:
  level:
    org:
      hibernate:
        SQL: WARN
        type.descriptor: WARN
      nodeValue: WARN
    root: INFO
    blog: WARN
    runtime: INFO
    instance class: INFO
app:
  jwtSecret: ${JWT_SECRET}
  jwtExpirationInMs: ${JWT_EXPIRATION_TIME}
